<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Set_set</key>
	<string>设置</string>
	<key>Set_sound</key>
	<string>音效</string>
	<key>Set_music</key>
	<string>音乐</string>
	<key>Set_about</key>
	<string>关于我们</string>
	<key>Set_appreciate</key>
	<string>评价我们</string>
	<key>Market_role</key>
	<string>人物</string>
	<key>Market_gold</key>
	<string>金币</string>
	<key>Market_role_name_1</key>
	<string>小龙飞飞</string>
	<key>Market_role_name_2</key>
	<string>小蜗快爬</string>
	<key>Market_role_name_3</key>
	<string>豆娘戴花</string>
	<key>Market_role_chr_1</key>
	<string>金币 +10%</string>
	<key>Market_role_chr_2</key>
	<string>金币 +10%</string>
	<key>Market_role_chr_3</key>
	<string>金币 +10%</string>
	<key>Ranking_Rank</key>
	<string>当前排名</string>
	<key>Ranking_curRank</key>
	<string>未登陆</string>
	<key>Ranking_loading</key>
	<string>数据加载中..</string>
	<key>Ranking_unable</key>
	<string>排行榜不可用</string>
	<key>Ranking_error_1</key>
	<string>数据加载错误</string>
	<key>Ranking_error_2</key>
	<string>请检查网络!!</string>
	<key>Lock_true</key>
	<string>此主题未解锁</string>
	<key>Unlock_success</key>
	<string>解锁成功</string>
	<key>Gameover_score_heigh</key>
	<string>最高分</string>
	<key>Gameover_score_cur</key>
	<string>本次成绩</string>
	<key>Gameover_score_base</key>
	<string>基础成绩</string>
	<key>Gameover_score_role</key>
	<string>人物奖励</string>
	<key>Gameover_score_sum</key>
	<string>总计</string>
	<key>Message_market_success</key>
	<string>购买成功</string>
	<key>Message_market_fail_1</key>
	<string>购买失败,金币不足</string>
	<key>Message_market_fail_2</key>
	<string></string>
	<key>Buy</key>
	<string>购买</string>
	<key>BuyGold</key>
	<string>购买金币</string>
	<key>Back</key>
	<string>返回</string>
	<key>Message_itunes_fail_1</key>
	<string>购买失败,请重试</string>
	<key>Message_itunes_fail_2</key>
	<string></string>
	<key>USD</key>
	<string>¥</string>
	<key>Gold_price_1</key>
	<string>8</string>
	<key>Gold_price_2</key>
	<string>16</string>
	<key>Gold_price_3</key>
	<string>32</string>
	<key>Gold_price_4</key>
	<string>74</string>
	<key>Pic_hot_sale</key>
	<string>hot_sale_zh.png</string>
	<key>Pic_pause_backgame</key>
	<string>backGame_GameMenuItem.png</string>
	<key>Pic_pause_resume</key>
	<string>restartGame_GameMenuItem.png</string>
	<key>Pic_pause_backhome</key>
	<string>backHome_GameMenuItem.png</string>
	<key>Pic_market_use</key>
	<string>usercheck_zh.png</string>
	<key>Pic_market_buy</key>
	<string>button_buy_zh.png</string>
	<key>Pic_ranking</key>
	<string>ranking_zh.png</string>
  <key>Music_Bg</key>
  <string>Bgmusic.mp3</string>
  <key>Music_Btclick</key>
  <string>buttonClick.mp3</string>
  <key>Music_Die</key>
  <string>Die.mp3</string>
  <key>Music_Gold</key>
  <string>Goldcoin.mp3</string>
  <key>Music_Jump</key>
  <string>Jump.mp3</string>
</dict>
</plist>
