<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hero_spoink.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,180},{86,116}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{86,116}}</string>
			<key>sourceSize</key>
			<string>{88,118}</string>
		</dict>
		<key>hero_climb_0_spoink.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,180},{86,116}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{86,116}}</string>
			<key>sourceSize</key>
			<string>{88,118}</string>
		</dict>
		<key>hero_climb_1_spoink.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,352},{86,114}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{86,114}}</string>
			<key>sourceSize</key>
			<string>{88,118}</string>
		</dict>
		<key>hero_climb_2_spoink.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,178},{86,116}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{86,116}}</string>
			<key>sourceSize</key>
			<string>{88,118}</string>
		</dict>
		<key>hero_climb_3_spoink.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,90},{86,118}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,118}}</string>
			<key>sourceSize</key>
			<string>{88,118}</string>
		</dict>
		<key>hero_die_0_spoink.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,92},{86,116}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{86,116}}</string>
			<key>sourceSize</key>
			<string>{88,118}</string>
		</dict>
		<key>hero_die_1_spoink.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,268},{82,116}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{82,116}}</string>
			<key>sourceSize</key>
			<string>{88,118}</string>
		</dict>
		<key>hero_die_2_spoink.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,2},{86,118}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,118}}</string>
			<key>sourceSize</key>
			<string>{88,118}</string>
		</dict>
		<key>hero_die_3_spoink.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,266},{84,116}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{84,116}}</string>
			<key>sourceSize</key>
			<string>{88,118}</string>
		</dict>
		<key>hero_die_4_spoink.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{88,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,118}}</string>
			<key>sourceSize</key>
			<string>{88,118}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>spoink_hero.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3153e61e983f565636d38bf0f063d277:b623b4d344ae97ebbbc600684c8e2fa1:18c736190c0fcf5e0faa3234ea0dc3c4$</string>
		<key>textureFileName</key>
		<string>spoink_hero.png</string>
	</dict>
</dict>
</plist>
