<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backGame_GameMenuItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,103},{298,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,85}}</string>
                <key>sourceSize</key>
                <string>{300,87}</string>
            </dict>
            <key>backHome_GameMenuItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{298,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,85}}</string>
                <key>sourceSize</key>
                <string>{300,87}</string>
            </dict>
            <key>logo_GameMenuItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{426,99}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{426,99}}</string>
                <key>sourceSize</key>
                <string>{446,101}</string>
            </dict>
            <key>music_GameMenuItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,218},{115,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,113}}</string>
                <key>sourceSize</key>
                <string>{117,115}</string>
            </dict>
            <key>music_close_GameMenuItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,218},{115,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,113}}</string>
                <key>sourceSize</key>
                <string>{117,115}</string>
            </dict>
            <key>restartGame_GameMenuItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{298,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,85}}</string>
                <key>sourceSize</key>
                <string>{300,87}</string>
            </dict>
            <key>soundEffect_GameMenuItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,103},{115,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,113}}</string>
                <key>sourceSize</key>
                <string>{117,115}</string>
            </dict>
            <key>soundEffect_close_GameMenuItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,103},{115,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,113}}</string>
                <key>sourceSize</key>
                <string>{117,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_menuItem.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa14adaf5d34b0c898eff5633cc3fe74:1/1$</string>
            <key>textureFileName</key>
            <string>game_menuItem.png</string>
        </dict>
    </dict>
</plist>
