<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backGame_GameMenuItem_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{297,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,85}}</string>
                <key>sourceSize</key>
                <string>{297,85}</string>
            </dict>
            <key>backHome_GameMenuItem_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{297,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,85}}</string>
                <key>sourceSize</key>
                <string>{297,85}</string>
            </dict>
            <key>gameFinish_GameOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{284,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,155}}</string>
                <key>sourceSize</key>
                <string>{284,155}</string>
            </dict>
            <key>gameFinish_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>gameFinish_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,379},{117,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{117,113}}</string>
                <key>sourceSize</key>
                <string>{117,115}</string>
            </dict>
            <key>gameFinish_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,264},{117,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,113}}</string>
                <key>sourceSize</key>
                <string>{117,113}</string>
            </dict>
            <key>gameFinish_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{132,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,129}}</string>
                <key>sourceSize</key>
                <string>{132,129}</string>
            </dict>
            <key>restartGame_GameMenuItem_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{297,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,86}}</string>
                <key>sourceSize</key>
                <string>{297,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameFinish_Layer.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f1f8d350ef5c1a5b36a7d179149df29:5c2b1b1689f204f69009fc66104fbc28:ad27131ed52bcc7908c0b9c5a469cebe$</string>
            <key>textureFileName</key>
            <string>gameFinish_Layer.png</string>
        </dict>
    </dict>
</plist>
