<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,965},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,370},{170,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,190}}</string>
                <key>sourceSize</key>
                <string>{170,190}</string>
            </dict>
            <key>button_buy_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,278},{206,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,90}}</string>
                <key>sourceSize</key>
                <string>{206,90}</string>
            </dict>
            <key>button_buy_zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,186},{206,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,90}}</string>
                <key>sourceSize</key>
                <string>{206,90}</string>
            </dict>
            <key>buy_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{154,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,57}}</string>
                <key>sourceSize</key>
                <string>{154,57}</string>
            </dict>
            <key>charts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{125,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,162}}</string>
                <key>sourceSize</key>
                <string>{125,162}</string>
            </dict>
            <key>check.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,893},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>currency.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{153,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,57}}</string>
                <key>sourceSize</key>
                <string>{153,57}</string>
            </dict>
            <key>flow_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,882},{108,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{108,62}}</string>
                <key>sourceSize</key>
                <string>{110,64}</string>
            </dict>
            <key>gold_1888.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{127,143}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{127,143}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>gold_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,967},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{228,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,48}}</string>
                <key>sourceSize</key>
                <string>{228,48}</string>
            </dict>
            <key>gold_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,738},{64,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,95}}</string>
                <key>sourceSize</key>
                <string>{64,97}</string>
            </dict>
            <key>gold_buy_chack.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,882},{77,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,113}}</string>
                <key>sourceSize</key>
                <string>{77,115}</string>
            </dict>
            <key>hot_sale_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,881},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>hot_sale_zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,882},{83,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,77}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{284,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,1}}</string>
                <key>sourceSize</key>
                <string>{284,1}</string>
            </dict>
            <key>market.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,693},{108,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,122}}</string>
                <key>sourceSize</key>
                <string>{108,122}</string>
            </dict>
            <key>model_endless.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,572},{119,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,113}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>model_endless_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,682},{154,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,138}}</string>
                <key>sourceSize</key>
                <string>{154,138}</string>
            </dict>
            <key>model_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,451},{119,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,113}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>model_time_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,542},{154,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,138}}</string>
                <key>sourceSize</key>
                <string>{154,138}</string>
            </dict>
            <key>music.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,967},{56,49}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{56,49}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>music_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,822},{64,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,57}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,542},{64,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,97}}</string>
                <key>sourceSize</key>
                <string>{64,97}</string>
            </dict>
            <key>prop_chack.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,803},{77,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,113}}</string>
                <key>sourceSize</key>
                <string>{77,113}</string>
            </dict>
            <key>ranking_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{283,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,155}}</string>
                <key>sourceSize</key>
                <string>{283,155}</string>
            </dict>
            <key>ranking_zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,156}}</string>
                <key>sourceSize</key>
                <string>{286,156}</string>
            </dict>
            <key>regainbuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,873},{107,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,142}}</string>
                <key>sourceSize</key>
                <string>{107,142}</string>
            </dict>
            <key>role.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,641},{64,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,95}}</string>
                <key>sourceSize</key>
                <string>{64,97}</string>
            </dict>
            <key>role_chack.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,371},{78,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,115}}</string>
                <key>sourceSize</key>
                <string>{78,115}</string>
            </dict>
            <key>setbutten.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{130,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,165}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,835},{56,57}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>sound_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,822},{64,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,57}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>sourceColorRect.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,288},{15,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,165}}</string>
                <key>sourceSize</key>
                <string>{15,165}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,317},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>usercheck_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,94},{206,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,90}}</string>
                <key>sourceSize</key>
                <string>{206,90}</string>
            </dict>
            <key>usercheck_zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{206,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,90}}</string>
                <key>sourceSize</key>
                <string>{206,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>homeMenu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b4541b31c63f8eabbad8b968f73662b:e3db9395a985500325005a6be30ea86b:d9ee92f94b9395381621da8b896511c9$</string>
            <key>textureFileName</key>
            <string>homeMenu.png</string>
        </dict>
    </dict>
</plist>
