<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>button_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1002},{131,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,111}}</string>
                <key>sourceSize</key>
                <string>{131,111}</string>
            </dict>
            <key>decoration_1_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,777},{273,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,223}}</string>
                <key>sourceSize</key>
                <string>{273,223}</string>
            </dict>
            <key>decoration_2_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,262},{276,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,291}}</string>
                <key>sourceSize</key>
                <string>{276,291}</string>
            </dict>
            <key>decoration_3_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{408,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,408}}</string>
                <key>sourceSize</key>
                <string>{408,408}</string>
            </dict>
            <key>decoration_4_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{258,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,312}}</string>
                <key>sourceSize</key>
                <string>{258,312}</string>
            </dict>
            <key>decoration_5_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1002},{244,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,263}}</string>
                <key>sourceSize</key>
                <string>{244,263}</string>
            </dict>
            <key>decoration_6_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1550},{258,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,259}}</string>
                <key>sourceSize</key>
                <string>{258,259}</string>
            </dict>
            <key>decoration_7_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,540},{235,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,282}}</string>
                <key>sourceSize</key>
                <string>{235,282}</string>
            </dict>
            <key>gold_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>pause_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,78},{34,32}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{34,32}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>timbo_center_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>timbo_end_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,21},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>timbo_start_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,42},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>summer_material.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6c217359c5eabe854f08243dcbead4f:1/1$</string>
            <key>textureFileName</key>
            <string>summer_material.png</string>
        </dict>
    </dict>
</plist>
